  .hand {
    background-color: #277714;
    float: left;
    border: dodgerblue solid 1px;
    margin: 10px;
    padding: 5px;
  }
  #player-box, #dealer-box {
    background-color: lightsalmon;
  }
  #buttons {
    clear: both;
  }

  .card {
    background-color: whitesmoke;
    padding: 2px;
    border-radius: 3px;
    float: left;
    margin: 5px;
    height: 3.5rem;
    width: 2.5rem;
  }

  .count {
    margin-left: 5px;
    color: whitesmoke;
  }

  .active-hand {
    border: 5px solid pink;
  }